<p style="color: green"><%= notice %></p>

<h1>Tms</h1>

<div id="tms">
  <% @tms.each do |tm| %>
    <%= render tm %>
    <p>
      <%= link_to "Show this tm", tm %>
    </p>
  <% end %>
</div>

<%= link_to "New tm", new_tm_path %>
